@tailwind base;
@tailwind components;
@tailwind utilities;

.toast-base {
    @apply flex items-center gap-3 border shadow-2xl rounded-2xl px-5 py-4;
  }
  
  .toast-success {
    @apply bg-emerald-600 text-white border-emerald-700;
  }
  
  .toast-error {
    @apply bg-red-600 text-white border-red-700;
  }
  
  .toast-loading {
    @apply bg-blue-600 text-white border-blue-700;
  }
  
  .toast-default {
    @apply bg-white text-slate-800 border-slate-200;
  }
  